nav {
    a {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #f0ebeb;
        transition: width .3s;
        position: absolute;
        bottom: -4px;
      }
      &:hover:after {
        width: 100%;
      }
    }
    
}
